# ──────────────────────────────────────────────────────────────────────────────
# MoodTunes - Environment Variables
# Copy this file to .env and fill in your credentials
# ──────────────────────────────────────────────────────────────────────────────

# Get these from: https://developer.spotify.com/dashboard
SPOTIPY_CLIENT_ID=2d62f2d31f5a4f16bf133476a60b0d5d
SPOTIPY_CLIENT_SECRET= 424f19c5910b4b628568f1b872df3f5e

# For local development:
SPOTIPY_REDIRECT_URI=https://yourwebsite.com/callback

# For Streamlit Cloud deployment:
# SPOTIPY_REDIRECT_URI=https://your-app-name.streamlit.app
